<div>
    <h2 class="text-center">trouver l'intru</h2>
    <div class="row">
    {{#propositions}}
        <div class="proposition medium-2 columns">
            <div class="img">
                <img src="http://placehold.it/200x300" alt="placeholder"/>
            </div>
            <div>
                <h4>{{Espece_Ph}}</h4>
            </div>
        </div>
        {{/propositions}}
        <div class="medium-3 columns" style="background-color: #003f54">
            dd
        </div>
    </div>
</div>