<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pom2Ter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/app.css"/>
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>
<header class="row">
    <div class="large-12 columns text-center">
        <h1>Viens jouer avec les oiseaux !</h1>
    </div>
</header>

<main>
    <div class="row">
        <ul class="stack button-group large-8 large-centered columns">
            <li><a href="newGame" class="button">Nouvelle partie</a></li>
            <li><a href="#" class="button">Entraînement</a></li>
            <li><a href="game" class="button">Reprendre une partie</a></li>
            <li><a href="#" class="button">Règles du jeu</a></li>
            <li><a href="#" class="button">Classement</a></li>
        </ul>
    </div>
</main>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
</body>
</html>