<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ornitho.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/app.css"/>
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>
<div class="wrapper-main-menu">
    <main>
        <div class="row">
            <div class="bloc text-center">
                <h1>Ornitho.com</h1>
                <h5>
                    Un jeu didactique pour l’apprentissage et la reconnaissance d’oiseaux. <br/>
                    Il a pour objectif de se divertir, mais aussi (et surtout) d’apprendre à reconnaître les oiseaux. <br/><br/>
                    Il s'adresse à tous types de personnes ayant des connaissances en ornithonlogie ou non.
                </h5>
                <br/><br/>
                <ul class="stack button-group large-8 large-centered columns">
                    <li><a href="newGame" class="button">Nouvelle partie</a></li>
                    <li><a href="#" class="button">Entraînement</a></li>
                    <li><a href="game" class="button">Reprendre une partie</a></li>
                    <li><a href="#" class="button">Règles du jeu</a></li>
                    <li><a href="#" class="button">Classement</a></li>
                </ul>
            </div>
        </div>
    </main>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
</body>
</html>